{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="rounded m-2" style="background-image: url({% static 'images/s2.jpg' %});background-position:center top; height: 95%;">
        <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-transparent flex-fill text-white" style="font-family: 'Prompt', sans-serif;">
                <h1>สิ่งที่สนใจ</h1>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-lg-4">
            <div class="card" style="width:300px">
                <div class="card-header bg-dark text-white">
                    <h3>NETFLIX</h3>
                </div>
            <img class="card-img-top" src="{% static 'images/Netflix.png' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title"><b>Netflix</b></h4>
                <p class="card-text"><b>เน็ตฟลิกซ์ (อังกฤษ: Netflix) เป็นบริษัทข้ามชาติที่ให้บริการโอทีที แบบสื่อแบบส่งต่อเนื่องตามคำขอทางอินเทอร์เน็ตทั่วโลก (ยกเว้นในบางพื้นที่) และผู้ให้บริการเช่ายืมดีวีดีและแผ่นบลูเรย์ทางไปรษณีย์ในสหรัฐอเมริกา บริษัทได้รับการก่อตั้งขึ้นในปี พ.ศ. 2540
                    โดยมีสำนักงานใหญ่ตั้งอยู่ที่เมืองลอสแกทัส รัฐแคลิฟอร์เนีย และมีออฟฟิศในอีกหลายประเทศเช่นเนเธอร์แลนด์ บราซิล อินเดีย ญี่ปุ่น และเกาหลีใต้[7]</b></p>
            </div>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="card" style="width:300px">
                <div class="card-header bg-dark text-white">
                    <h3>free fire </h3>
                </div>
            <img class="card-img-top" src="{% static 'images/free-fire.png' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title"><b>free fire </b></h4>
                <p class="card-text"><b>Free Fire MAX ได้รับการออกแบบมาโดยเฉพาะเพื่อมอบประสบการณ์การเล่นเกมระดับพรีเมียมใน Battle Royale เพลิดเพลินกับโหมดเกมที่น่าตื่นเต้นหลากหลายกับผู้เล่น Free Fire ทุกคนผ่านเทคโนโลยี Firelink สุดพิเศษ สัมผัสประสบการณ์การต่อสู้อย่างที่ไม่เคยมีมาก่อนด้วยความละเอียดระดับ Ultra HD และเอฟเฟกต์ที่น่าทึ่ง
                    ซุ่มโจมตี หลบซ่อน และเอาตัวรอด โดยมีเป้าหมายเดียว คือเพื่อการอยู่รอดและยืนหยัดเป็นคนสุดท้าย</b></p>
            </div>
            </div>
            </div>

             <div class="col-lg-4">
            <div class="card" style="width:300px">
                <div class="card-header bg-dark text-white">
                    <h3>Disney</h3>
                </div>
            <img class="card-img-top" src="{% static 'images/s1.png' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title"><b>Disney</b></h4>
                <p class="card-text"><b>ดิสนีย์+ หรือ ดิสนีย์พลัส[1][2][3] (อังกฤษ: Disney+, Disney Plus)
                    เป็นบริการวีดิทัศน์ตามคำขอแบบบอกรับสมาชิกที่มีแผนกจำหน่ายสื่อและความบันเทิงของเดอะวอลต์ดิสนีย์
                    เป็นเจ้าของและดำเนินการ เปิดให้บริการในวันที่ 12 พฤศจิกายน พ.ศ.2562 ในสหรัฐเป็นประเทศแรก
                    และขยายพื้นที่ให้บริการทั่วโลกในอนาคต รายการที่มีให้เลือกชมนั้น จะเน้นภาพยนตร์และรายการทีวีจากวอลต์ดิสนีย์สตูดิโอ และวอลต์ดิสนีย์เทเลวิช</b></p>
            </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}