{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <style>
body {
  background-image: url("{% static 'images/t2.jpg'%}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-dark flex-fill text-white" style="font-family: 'Mochiy Pop P One', sans-serif;">
             <h3><img src="{% static 'images/Profile1.png' %}" alt="com" width="60px">สิ่งที่หน้าสนใจ</h3>
            </div>
        </div>
        <div class="d-flex pt-3 bd-highlight">

        </div>
        <div class="row pt-2">
            <div class="col-lg-4">
            <div class="card" style="width:300px">
                <div class="card-header bg-dark text-white">
                    <h3>การตั้งแคมป์</h3>
                </div>
            <img class="card-img-top" src="{% static 'images/12.jpg' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title"><b>การตั้งแคมป์</b></h4>
                <p class="card-text"><b>การตั้งแคมป์ คือรสชาติความสนุกอย่างหนึ่งของการผจญภัย ที่นักท่องเที่ยวสายแอดเวนเจอร์ต้องไม่พลาด ไม่ว่าจะนอนอยู่กับป่า ภูเขา หิมะ ดวงดาว แสงจันทร์ ทะเลทราย  เป็นอะไรที่เราสัมผัสได้ง่ายๆ เพียงแค่ย้ายตัวเองออกจากห้องนอนสี่เหลี่ยมธรรมดาๆ ไปอยู่ท่ามกลางธรรมชาติเหล่านั้น หากใครกำลังมองหาไอเดียในการออกไปตั้งแคมป์ ชนิดที่ว่ากลางคืนเห็นแสงดาว ตื่นเช้าเห็นแสงตะวัน ตามเราไปชม ภาพบรรยากาศ ตั้งแคมป์ จากนักท่องเที่ยวทั่วโลกกันเลย จะสวยงามขนาดไหนเชียวนะ</b></p>
            </div>
            </div>
            </div>

            <div class="col-lg-4">
            <div class="card" style="width:300px">
                <div class="card-header bg-dark text-white">
                    <h3>ปาร์ตี้  </h3>
                </div>
            <img class="card-img-top" src="{% static 'images/s11.jpg' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title"><b>ปาร์ตี้ </b></h4>
                <p class="card-text"><b>ยิ่งกรณีดื่มหนักและพักผ่อนน้อย อันนี้ควรต้องกังวลว่าตับอาจจะพัง หรือแม้แต่นักเต้นทั้งหลายอาจต้องระวังผลกระทบที่อาจเกิดต่ออวัยวะต่างๆ ในร่างกาย เช่น บางท่านก็อาจจะกระโดด ส่ายสะโพกมากไป จนลืมไปว่าตนเองนั้นเป็นไส้เลื่อนอยู่ หรือแม้แต่ผู้ที่มีโรคเรื้อรังอื่น ๆ ก็จำเป็นต้องดูแลสุขภาพเป็นพิเศษ เพราะหากไม่มีการเตรียมความพร้อมรับมือกับ ปาร์ตี้ปีใหม่ ช่วงเทศกาลหยุดยาว อาจเสี่ยงทำให้โรคกำเริบรุนแรงได้</b></p>
            </div>
            </div>
            </div>

             <div class="col-lg-4">
            <div class="card" style="width:300px">
                <div class="card-header bg-dark text-white">
                    <h3>อาหาร</h3>
                </div>
            <img class="card-img-top" src="{% static 'images/d5.jpg' %}" alt="Card image" style="width:100%;">
            <div class="card-body">
                <h4 class="card-title"><b>อาหาร</b></h4>
                <p class="card-text"><b>ยิ่งกรณีดื่มหนักและพักผ่อนน้อย อันนี้ควรต้องกังวลว่าตับอาจจะพัง หรือแม้แต่นักเต้นทั้งหลายอาจต้องระวังผลกระทบที่อาจเกิดต่ออวัยวะต่างๆ ในร่างกาย เช่น บางท่านก็อาจจะกระโดด ส่ายสะโพกมากไป จนลืมไปว่าตนเองนั้นเป็นไส้เลื่อนอยู่ หรือแม้แต่ผู้ที่มีโรคเรื้อรังอื่น ๆ ก็จำเป็นต้องดูแลสุขภาพเป็นพิเศษ เพราะหากไม่มีการเตรียมความพร้อมรับมือกับ ปาร์ตี้ปีใหม่ ช่วงเทศกาลหยุดยาว อาจเสี่ยงทำให้โรคกำเริบรุนแรงได้</b></p>
            </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}