{% extends 'base.html' %}
{% block content %}
 {% load humanize %}
    <head>
        <style>
            #pic { width: 200px;}
            td {text-align: center;
             vertical-align: middle;
                font-size: 20px;}
            p{font-size: 22px}
            th { vertical-align: middle;
                font-size: 28px;}
        </style>
    </head>
    {% load static %}
    <div class="rounded m-3 bg-white" style="height: 100%; font-family: 'Prompt', sans-serif;">
    <div class="d-flex pt-3 bd-highlight">
            <div class="p-2 bg-dark flex-fill text-white" style="font-family:'Yellowtail', cursive;">
             <h2><img src="{% static 'images/Contacts.png' %}" alt="com" width="75px"> Practice 11</h2>
            </div>
        </div>
        <br>
    <div class="row">
        <div class="col-6">
          <b>
              <p>ข้อมูลสินค้าประเภท: {{ details }}</p>
              <p>ทีผู้จัดทำ: {{ name }}</p>
              <p>วันที่เผยแผร่: {{ date }}</p>
            </b>
        </div>

    </div>
        <div>
           <table class="table table-dark table-hover table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Scale</th>
            <th>Tier</th>
            <th>Height</th>
             <th>Price</th>
            <th>Discount</th>
            <th>ค่าขนส่ง(฿)</th>
            <th>Total</th>
             <th>IMAGES</th>
        </tr>
        {% for listproduct in product %}
        <tr>
        <td>{{ listproduct.getPid }}</td>
            <td>{{ listproduct.getName }}</td>
            <td>{{ listproduct.getScale }}</td>
            <td>{{ listproduct.getTier }}</td>
            <td>{{ listproduct.getHeight }}</td>
            <td>{{ listproduct.getPrice|iriencode }} บาท</td>
            <td>{{ listproduct.getDiscount|floatformat  }}</td>
            <td>{{ listproduct.getDelivery }}</td>
            <td>{{ listproduct.getNet|iriencode }} บาท</td>
            <td><img src="{% static listproduct.getImage %}" alt="pic" id="pic" ></td>
        </tr>
               {% endfor %}
           </table>
        </div>
    </div>
{% endblock %}