<!DOCTYPE html>
<html lang="en">
{% load static %}
<style>
body {
  background-image: url("{% static 'images/t2.jpg'%}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<head>
    <title>Digital Business Technology Program</title>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap5.2/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap5.2/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap5.2/css/bootstrap.min.css' %}"></script>
    <style>
    a { text-decoration: none; }
    body { background-color:}
    </style>
</head>
<body>
    <div class="container-fluid">
{% block sidebar %}
    <nav class="navbar navbar-expand-sm fixed-top bg-dark" >
        <div class="col-lg-6 ">
                <a href="{% url 'home' %}" class="navbar-brand " style="padding-left: 600px">
                    <img src="{% static 'images/rrr.jpg' %}" alt="logo" style="width: 100px; height: 100px">
                </a>
        </div>
        <div class="col-lg-10 align-self-lg-right">
            <p style="font-family: 'Mochiy Pop P One', sans-serif; color: white; font-size: 30px">Digital Business Technology Program</p>

        </div>
    </nav>
{% endblock %}
    <div class="row">
        <div class="col-lg-2">
        {% include 'menu.html' %}
        </div>
        <div class="col-lg-8">
            <br><br><br><br><br>
            {% block content %}
            {#content Page#}
            {% endblock %}
        </div>
    </div>
    </div>

</div>
</body>
</html>v