{% extends 'base.html' %}
{% block content %}
    {% load static %}
<style>
body {
  background-image: url("{% static 'images/t2.jpg'%}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<div class="rounded m-3 fs-6" style="background-color: white; height: 100%; font-family: 'Prompt', sans-serif;">
<div id="Interval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#Interval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#Interval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#Interval" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="width:100%; height:500px;">
    <div class="carousel-item active">
      <img src="{% static 'images/f7.jpg' %}" class="mx-auto d-block w-100" alt="pic1" style="max-width:1000px;">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/f8.jpg' %}" class="d-block w-100" alt="pic2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/a2.jpg' %}" class="mx-auto d-block w-100" alt="pic3" style="width:auto;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#Interval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#Interval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="jumbotron text-center" style="color: black">
    <br>
<h1>ยินดีต้อนรับสู่เทคโนโลยีธุรกิจดิจิทัล</h1>
</div>
<p class="p-3" style="font-size: 20px"><b> ทุกธุรกิจเป็นธุรกิจดิจิทัล </b>
   &nbsp; อย่างน้อยนั่นคือพื้นฐานของแพลตฟอร์มเทคโนโลยีธุรกิจดิจิทัล นี่คือแนวคิด: ในบางแง่มุม ทุกบริษัทคือบริษัทซอฟต์แวร
    เนื่องจากบริษัทในปัจจุบันต้องทำงานในแบบที่บริษัทซอฟต์แวร์หรือเทคโนโลยีหลายแห่งทำ โดยวิธีการที่เราสามารถช่วยคุณ
    ในการเปลี่ยนแปลงสู่ธุรกิจดิจิทัล
</p>
</div>
{% endblock %}